---
import { getI18N } from "../i18n/index";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale: lang });
---

<main class="p-4 lg:px-36 lg:max-w-7xl lg:mx-auto">
  <section>
    <h1
      class="bg-red-600 text-red-50 text-2xl font-semibold p-4 rounded-md text-center"
    >
      {i18n.INFORMATION.SECCION1.TITLE}
    </h1>
  </section>
  <section>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">
        {i18n.INFORMATION.SECCION2.ARTICULO1.TITLE}
      </h3>
      <p>
        {i18n.INFORMATION.SECCION2.ARTICULO1.DESCRIPCION}
      </p>
    </article>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">
        {i18n.INFORMATION.SECCION2.ARTICULO2.TITLE}
      </h3>
      <p>
        {i18n.INFORMATION.SECCION2.ARTICULO2.DESCRIPCION}
      </p>
    </article>
    <article class="my-4 p-2">
      <h3 class="text-xl font-semibold mb-2">
        {i18n.INFORMATION.SECCION2.ARTICULO3.TITLE}
      </h3>
      <p>
        {i18n.INFORMATION.SECCION2.ARTICULO3.DESCRIPCION}
      </p>
    </article>
  </section>
  <section>
    <h2
      class="border rounded-md border-black w-32 text-center font-semibold text-xl mb-4 mx-auto lg:my-4"
    >
      {i18n.INFORMATION.SECCION3.TITLE}
    </h2>
    <iframe
      class="rounded-lg mx-auto w-96 h-96 md:w-176 lg:w-full"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255346.65091566546!2d-78.64107706397628!3d-0.21039515065874992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d59a3e63f2a9cb%3A0x8bfbd6ffc3e13404!2sReina%20del%20Camino%20Bus!5e0!3m2!1ses!2sec!4v1705585440203!5m2!1ses!2sec"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</main>
