---
import { Image } from "astro:assets";
import ambato from "../assets/ambato.png";
import guayaquil from "../assets/guayaquil.png";
import manta from "../assets/manta.png";

import { getI18N } from "../i18n/index";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const i18n = getI18N({ currentLocale: lang });
---

<main>
  <section class="flex flex-col items-center">
    <h2 class="text-xl font-semibold my-2 lg:text-2xl lg:my-6" tabindex="0">
      {i18n.HOME.SECCION1.TITLE}
    </h2>
    <form class="border rounded-md border-black w-80 lg:w-240 lg:h-60" tabindex="0">
      <div
        class="flex items-center justify-center lg:justify-start lg:ml-11 lg:mt-4 lg:text-2xl"
      >
        <input class="lg:w-8 lg:h-8 lg:mr-2" id="ida" type="radio" />
        <label for="ida" tabindex="0">{i18n.HOME.SECCION1.IDA}</label>

        <input
          class="ml-5 lg:w-8 lg:h-8 lg:mr-2"
          id="ida-vuelta"
          type="radio"
        />
        <label for="ida-vuelta" tabindex="0">{i18n.HOME.SECCION1.VUELTA}</label>
      </div>

      <div class="flex flex-col lg:flex-row p-2 my-2 lg:mt-11 lg:gap-3">
        <div class="lg:w-1/6 lg:flex-col w-full mb-4">
          <label for="origen">{i18n.HOME.SECCION1.ORIGEN}</label>
          <input
            class="border rounded-md border-black mt-2 p-1 lg:h-11"
            id="origen"
            type="text"
            placeholder={i18n.HOME.SECCION1.ORIGEN}
          />
        </div>

        <div class="lg:w-72 lg:flex-col w-full mb-4">
          <label for="destino">{i18n.HOME.SECCION1.DESTINO}</label>
          <input
            class="border rounded-md border-black mt-2 p-1 lg:h-11"
            id="destino"
            type="text"
            placeholder={i18n.HOME.SECCION1.DESTINO}
          />
        </div>

        <div class="lg:w-72 lg:flex-col w-full mb-4">
          <label for="fecha-ida">{i18n.HOME.SECCION1.FECHA_IDA}</label>
          <input
            class="border rounded-md border-black mt-2 p-1 lg:h-11"
            id="fecha-ida"
            type="date"
          />
        </div>

        <div class="lg:w-48 lg:flex-col w-full mb-4">
          <label for="fecha-vuelta">{i18n.HOME.SECCION1.FECHA_VUELTA}</label>
          <input
            class="border rounded-md border-black mt-2 p-1 lg:h-11"
            id="fecha-vuelta"
            type="date"
          />
        </div>

        <div class="lg:w-48 lg:flex-col w-full mb-4">
          <label for="pasajeros">{i18n.HOME.SECCION1.PASAJEROS}</label>
          <input
            class="border rounded-md border-black mt-2 p-1 lg:h-11"
            id="pasajeros"
            type="number"
            min="1"
            max="10"
          />
        </div>

        <div class="lg:w-48 w-full mb-4">
          <button
            class="bg-yellow-400 rounded-md mt-2 w-24 lg:h-11 lg:mt-8"
            type="submit">{i18n.HOME.SECCION1.BUSCAR}</button
          >
        </div>
      </div>
    </form>
  </section>
  <section
    class="border rounded-md border-black flex flex-col items-center justify-around gap-3 my-5 w-80 mx-auto lg:flex-row lg:w-240 lg:h-36 lg:px-5 lg:text-xl lg:rounded-2xl lg:mt-12"
  >
    <button
      class="border rounded-md border-black w-52 mt-4 lg:my-1 lg:h-20 lg:w-96 lg:rounded-2xl"
      ><i class="fa-solid fa-ticket mr-2 rotate-135"></i>{
        i18n.HOME.SECCION2.BOTON1
      }</button
    >
    <button
      class="border rounded-md border-black w-52 lg:my-1 lg:h-20 lg:w-96 lg:mx-1 lg:rounded-2xl"
      ><i class="fa-regular fa-clock mr-2"></i>{
        i18n.HOME.SECCION2.BOTON2
      }</button
    >
    <button
      class="border rounded-md border-black w-52 mb-4 lg:my-1 lg:h-20 lg:w-96 lg:rounded-2xl"
      ><i class="fa-regular fa-circle-question mr-2"></i>{
        i18n.HOME.SECCION2.BOTON3
      }</button
    >
  </section>
  <section class="flex flex-col items-center">
    <h2
      class="border rounded-md border-black w-24 text-center font-semibold text-xl mx-auto lg:text-3xl lg:w-40 lg:h-14 lg:py-2 lg:mt-2"
      tabindex="0"
    >
      {i18n.HOME.SECCION3.TITLE}
    </h2>
    <div class="w-80 my-2 lg:flex lg:w-240 lg:gap-11 lg:mt-6">
      <article
        class="border rounded-md border-black my-2 p-4 lg:h-192 lg:px-8 lg:pt-9 lg:w-1/3"
        tabindex="0"
      >
        <Image
          src={ambato}
          alt={i18n.HOME.SECCION3.NOTICIA1.IMG_ALT}
          class={"rounded-md lg:h-32"}
          tabindex="0"
        />
        <h3 class="text-xl font-semibold text-center my-2 lg:my-5 lg:text-lg" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA1.TITLE}
        </h3>
        <p class="text-justify" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA1.DESCRIPCION}
        </p>
      </article>

      <article
        class="border rounded-md border-black my-2 p-4 lg:h-192 lg:px-8 lg:pt-9 lg:w-1/3"
        tabindex="0"
      >
        <Image
          src={guayaquil}
          alt={i18n.HOME.SECCION3.NOTICIA2.IMG_ALT}
          class={"rounded-md lg:h-32"}
          tabindex="0"
        />
        <h3 class="text-xl font-semibold text-center my-2 lg:my-5 lg:text-lg" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA2.TITLE}
        </h3>
        <p class="text-justify" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA2.DESCRIPCION}
        </p>
      </article>

      <article
        class="border rounded-md border-black my-2 p-4 lg:h-192 lg:px-8 lg:pt-9 lg:w-1/3"
        tabindex="0"
      >
        <Image
          src={manta}
          alt={i18n.HOME.SECCION3.NOTICIA3.IMG_ALT}
          class={"rounded-md lg:h-32"}
          tabindex="0"
        />
        <h3 class="text-xl font-semibold text-center my-2 lg:my-5 lg:text-lg" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA3.TITLE}
        </h3>
        <p class="text-justify" tabindex="0">
          {i18n.HOME.SECCION3.NOTICIA3.DESCRIPCION}
        </p>
      </article>
    </div>
  </section>
</main>